<html ng-app="people">
    <head>
        <title>:: Ci&T Dojo Angular Team ::</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body>       
        People Name: <input type="text" ng-model="search.name" />

        <br/><br/>       

        <div ng-controller="peopleController as peopleCtrl">
            <table border="1">
                <tr>
                    <th class="pointer"><input type="checkbox" ></th>
                    <th ng-click="sortBy='login';reverse=!reverse" class="pointer">Login</th>                                         
                    <th ng-click="sortBy='name';reverse=!reverse" class="pointer">Name</th>                                         
                    <th ng-click="sortBy='age';reverse=!reverse" class="pointer">Age</th>                    
                    <th ng-click="sortBy='birthDate';reverse=!reverse" class="pointer">Birth Date</th>                    
                    <th ng-click="sortBy='salary';reverse=!reverse" class="pointer">Salary</th>
                    <th ng-repeat="month in peopleCtrl.loadMonth()">{{month.desc}}</th>
                </tr>
                <tr ng-repeat="person in peopleCtrl.people | filter : search | orderBy:sortBy:reverse">
                    <td><input type="checkbox"></td>
                    <td>{{person.login | lowercase}}</td>                    
                    <td>{{person.name | uppercase}}</td>                   
                    <td>{{person.age}}</td>                   
                    <td>{{person.birthDate | date: 'dd-MM-yyyy'}}</td>                  
                    <td>{{person.salary | currency:'R$ '}}</td>
                    <td ng-repeat="month in person.months">{{month.value}}</td>
                </tr>
            </table>
        </div>  
        
        <script src="angular.min.js"></script>
        <script src="pt-br.js"></script> 
        <script src="app.js"></script>
        <script src="app/controllers/people-controller.js"></script>
        <script src="app/factories/people-factory.js"></script>
           
        <style>
            .pointer {
                cursor:pointer;
            }

            td {
                padding:0 1em;
            }
        </style>
    </body>
</html>